name: setup-vsdevenv

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    name: test
    runs-on: ${{ matrix.image }}

    strategy:
      matrix:
        image: [ 'windows-latest', 'ubuntu-latest' ]

    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@v1
      - uses: ./setup-vsdevenv
      - run: cl.exe
        if: runner.os == 'Windows'